<nav>
    <div> <a href="{{ .Site.BaseURL }}/index.html">About</a> • <a>Projects</a> • <a href="{{ .Site.BaseURL }}/blog">Blog</a></div>
    <div> <a href="https://twitter.com/MoazzamMoriani"> <i class="fa-brands fa-twitter"></i> </a> • <a href="http://github.com/moazzammoriani"><i class="fa-brands fa-github"></i></a> • <a> <i class="fa-brands fa-instagram"></i></a> • <a href="https://www.linkedin.com/in/moazzam-moriani"> <i class="fa-brands fa-linkedin"></i> </a> • <a> <i class="fa-solid fa-at"></i> </a></div>
</nav>
